pandas==2.2.2
numpy==1.26.4
scikit-learn==1.8.0
prefect==3.8.3
great_expectations==1.21.0
fairlearn==0.14.0
Faker==40.36.0
pytest==9.1.1
mlflow==2.14.1
shap==0.45.1
lime==0.2.0.1
joblib==1.4.2
evidently==0.7.21
jupyterlab==4.2.2
nbformat==5.10.4
nbclient==0.10.0
ipykernel==6.29.4
dvc==3.51.2
